<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectcuoiki">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Điểm danh sinh viên"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".manager.CreateLectureActivity"
            android:label="Tạo ca học"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".manager.CreateRoomActivity"
            android:label="Tạo phòng học"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".manager.ListStudentActivity"
            android:label="@string/title_activity_list_student"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".mark.ScanActivity"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".mark.MarkActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.mark.MarkActivity" />
        </activity>
        <activity
            android:name=".mark.CheckMarkActivity"
            android:label="@string/title_activity_check_mark"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".mark.MarkActivity"
            android:label="@string/title_activity_mark"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".create_student.utils.Class_insert_a_student"
            android:label="Thêm sinh viên"
            android:parentActivityName=".create_student.CreateStudentActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.create_student.CreateStudentActivity" />
        </activity>
        <activity
            android:name=".create_student.utils.Class_insert_import_student"
            android:label="Import sinh viên"
            android:parentActivityName=".create_student.CreateStudentActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.create_student.CreateStudentActivity" />
        </activity>
        <activity
            android:name=".create_student.CreateStudentActivity"
            android:label="Thêm sinh viên"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".create_student.utils.Create_Object"
            android:label="Thêm môn học"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.ProfileActivity" />
        </activity>
        <activity
            android:name=".SetUpActivity"
            android:label="Tạo tài khoản"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Đăng kí"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".manager.CreateSubjectActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projectcuoiki.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>